@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background: #FFFFFF;
  color: #000000;
}

.link {
  text-decoration: none;
  font-family: "Railway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color:#000000;
  text-transform: uppercase;
}

/* Header */

.header {
  background: #FFE17F;
}


/* Slider */

.section-title {
  font-family: "Railway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slide-text {
  color: #444444;
}

.slide-spec-termin {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.slide-spec-definition {
  font-size: 36px;
  line-height: 30px;
}

/* Main index */

.category-item {
  text-decoration: none;
  color:#000000;
  line-height: 24px;
}

.category-icon {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.services {
  background-color: #F0F0F0;
}

.service-text {
  color: #444444;
}

.delivery-banner {
  background-color:#F0F0F0;
}

.about-contacts h3 {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.about-text {
  color: #444444;
  font-style: normal;
}

.about-tel {
  text-decoration: none;
  color: #444444;
}

.subscription {
  background-color:#F0F0F0;
}

.subscription-description {
  color: #444444;
}

.subscription-notice {
  color: #444444;
}

/* Footer */

.main-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.main-footer a {
  color: #FFFFFF;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-tel {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

/* Catalog */

.catalog-main {
  background-color: #F0F0F0;
}

.catalog-header {
  background-color: #FFFFFF;
}

.catalog-list {
  background-color: #FFFFFF;
}

.catalog-item a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.filter-name {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Railway", "Arial", sans-serif;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
}

.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.item-price {
  line-height: 21px;
  color: #444444;
}

.catalog-more {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Railway", "Arial", sans-serif;
  font-weight: 800;
}

.catalog-paginator-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}
