@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background: #FFFFFF;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.outline-red {
  outline: 1px solid red;
  outline-offset: -1px;
}

.outline-green {
  outline: 1px solid rgb(37, 175, 2);
  outline-offset: -1px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  display: block;
  text-decoration: none;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color:#000000;
  text-transform: uppercase;
}

.button {
  display: block;
  position: relative;
  z-index: 0;
  outline: 2px solid rgb(185, 185, 0);
  outline-offset: -2px;
  padding: 10px 0;
  text-align: center;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 40%;
  bottom: 40%;
  width: 100%;
  height: 8px;
  background: #FFE17F;
}

.section-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Header */

.header {
  background: #FFE17F;
  margin-top: 40px;
}

.header-container {
  width: 1040px;
  margin: 0 auto;
  margin-top: -20px;
}

.header-logo {
  display: block;
  margin-bottom: 30px;
  width: 145px;
  height: 36px;
}

.header-useful {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-search {
  position: relative;
  display: grid;
  grid-template-columns: 360px 160px;
}

.header-search::before {
  position: absolute;
  top: 14px;
  left: 16px;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/search-icon.svg");
}

.header-search input {
  padding: 10px;
  padding-left: 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
}

.header-search input::placeholder {
  color: #000000;
}

.header-search-button {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #000000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
}

.header-button {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.button-log-in {
  position: relative;
  margin-left: 53px;
  padding: 0;
  border: none;
  text-align: end;
  background-color: transparent;
}

.button-log-in::before {
  position: absolute;
  left: -26px;
  content: url("../images/icons/login-icon.svg");
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.button-log-out {
  margin-left: 28px;
  padding: 0;
  border: none;
  text-align: end;
  background-color: transparent;
  opacity: 0.3;
}

.compare {
  position: relative;
  margin-left: auto;
  width: 105px;
  text-align: end;
}

.compare::before {
  position: absolute;
  left: 0;
  content: url("../images/icons/compare-icon.svg");
  width: 10px;
  height: 12px;
  background-repeat: no-repeat;
}

.basket {
  position: relative;
  margin-left: 36px;
  width: 99px;
  text-align: end;
}

.basket::before {
  position: absolute;
  left: 0;
  content: url("../images/icons/cart-icon.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
}

/*.basket::after {
  position: absolute;
  left: -13px;
  top: 4px;
  width: 21px;
  height: 21px;
  content: "2";
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  border-radius: 50%;
  background: #ffffff no-repeat center;
}*/

.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: grey;
}

.navigation-link:nth-child(2) {
  margin-left: auto;
}

.navigation-link {
  margin-left: 50px;
}

.navigation-link:first-child {
  margin-left: 0;
}

.catalog-link {
  position: relative;
  display: block;
  width: 293px;
}

.catalog-link::after {
  position: absolute;
  z-index: 1;
  content: "";
  right: 0;
  top: -14px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url("../images/icons/plus-icon.svg") no-repeat center / 17px 17px;
  opacity: 0.3;
}

/* Slider */

.slider {
  position: relative;
  margin-bottom: 70px;
  background-image: linear-gradient(#FFE17F 150px, #ffffff 150px);
}

.slide-number {
  position: absolute;
  width: 250px;
  height: 135px;
  right: 49px;
  top: 27px;
  text-align: end;
  outline: 1px solid rgb(137, 206, 9);
  outline-offset: -1px;
}

.slide-number-text {
  width: 250px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #FFFFFF;
}

.slides-list {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slides-item {
  display: flex;
}

.slide-img-container {
  margin-right: 40px;
}

.slide-img-container img {
  display: block;
  max-width: 560px;
}

.slide-title {
  margin: 0;
  margin-top: 121px;
  margin-bottom: 29px;
}

.slide-text {
  color: #444444;
  margin: 0;
  margin-bottom: 51px;
}

.button-slide-detailed {
  width: 220px;
  margin-bottom: 49px;
}

.slide-spec {
  display: flex;
  margin: 0;
}

.spec-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  margin-bottom: 38px;
}

.spec-termin {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  order: 1;
}

.spec-definition {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
}

.slider-buttons {
  position: absolute;
  left: 30px;
  top: 211px;
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.button-slide {
  width: 20px;
  height: 60px;
  background: no-repeat center;
  border: none;
}

.button-slide-prev {
  background-image: url("../images/arrow-slider-left.svg");
}

.button-slide-next {
  background-image: url("../images/arrow-slider-right.svg");
}

.slider-paginator {
  position: absolute;
  display: flex;
  bottom: 173px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 76px;
  justify-content: space-between;
  list-style-type: none;
}

.slider-paginator-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-paginator-dot {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
}

.slider-paginator-dot-checked {
  background-color: #000000;
}

/* Category */

.category {
  margin-bottom: 172px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category-item {
  display: block;
  width: 160px;
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color:#000000;
}

.category-icon {
  display: flex;
  min-width: 160px;
  min-height: 160px;
  margin-bottom: 33px;
  background-color: #FFE17F;
}

.category-icon img {
  margin: auto;
}

/* Services */

.services {
  background-color: #F0F0F0;
  margin-bottom: 70px;
}

.services-container {
  position: relative;
  top: -102px;
  display: flex;
}

.services-slider {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 26px;
  width: 280px;
  list-style-type: none;
}

.services-slider::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-button {
  width: 160px;
  margin-bottom: 35px;
  border: none;
}

.service-button-active {
  width: 274px;
  padding: 10px 0;
  padding-right: 120px;
  background-color: #000000;
  color: #FFE17F;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-list-item {
  display: grid;
  padding: 62px 168px 77px 116px;
  grid-template-columns: auto auto;
  grid-column-gap: 80px;
}

.service-list-item::after {
  content: "";
  width: 170px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-list-delivery::after {
  background-image: url("../images/delivery.svg");
  }

.service-list-warranty::after {
  background-image: url("../images/warranty.svg");
  }

.service-list-credit::after {
  background-image: url("../images/credit.svg");
  }

.service-title {
  margin: 0;
  margin-bottom: 34px;
}

.service-text {
  width: 475px;
  margin: 0;
  color: #444444;
}

/* Delivery banner */

.delivery-banner {
  position: relative;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.delivery-slogan {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.delivery-slogan::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100%;
  padding: 0;
  left: 0;
  top: 0;

  background: #FFE17F url("../images/icons/delivery-icon.svg") no-repeat center / 47px 31px;
}

.delivery-slogan::after {
  position: absolute;
  content: "";
  top: 30px;
  right: 42px;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: rgba(220, 220, 220, 0.5) url("../images/icons/i-icon.svg") no-repeat center / 2px 12px;
}

/* About */

.about-container {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.about-us::before,
.about-contacts::before {
  display: block;
  margin-bottom: 40px;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-contacts {
  width: 532px;
}

.about-title {
  margin: 0;
  margin-bottom: 48px;
}

.about-text {
  font-style: normal;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.about-companies {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 30px;
}

.about-companies li {
  margin-bottom: 19px;
  color: #FFC700;
}

.about-companies li:last-child {
  margin-bottom: 0;
}

.companies-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.button-about-detailed {
  width: 270px;
}

.about-contacts h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.about-tel {
  text-decoration: none;
  color: #444444;
}

.about-worktime {
  margin-bottom: 30px;
}

.button-about-mailus {
  width: 260px;
}

/* Subscription */

.subscription {
  background-color:#F0F0F0;
}

.subscription .container {
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscription-container {
  display: grid;
  grid-template-columns: 1fr 560px;
  column-gap: 40px;
  margin-bottom: 144px;
}

.subscription-title {
  width: 400px;
  margin: 0;
  margin-right: 20px;
}

.subscription-description {
  margin: 0;
  width: 560px;
  align-self: center;
  color: #444444;
}

.subscription-form {
  display: grid;
  grid-template-columns: 557px 253px 1fr;
}

.subscription-form input {
  padding: 0;
  padding-left: 16px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.subscription-form input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.subscription-button {
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.subscription-notice {
  position: relative;
  display: block;
  text-align: end;
  margin: auto;
  margin-right: 0;
  width: 160px;
  color: #444444;
}

.subscription-notice::before {
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  content: url("../images/icons/tick.svg");
}

/* Catalog */

.catalog {
  background-color: #F0F0F0;
}

.catalog-header {
  padding: 35px 60px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-link {
  margin-right: 36px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: url("../images/breadcrumbs.svg");
  width: 4px;
  height: 7px;
  right: 16px;
  top: -2px;
  opacity: 0.2;
}

.catalog-wrap {
  display: flex;
}

.catalog-filter {
  width: 320px;
  padding: 25px 40px 25px 60px;
}

.catalog-filter h2 {
  margin: 0;
  margin-bottom: 60px;
}

.filter-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter {
  margin-bottom: 35px;
}

.filter:last-of-type {
  margin-bottom: 35px;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.filter label {
  font-size: 16px;
  line-height: 19px;
}

.button-filter-show {
  width: 220px;
}

.catalog-view {
  width: 840px;
  background-color: #FFFFFF;
}

.catalog-sort {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  background-color: #F0F0F0;
}

.catalog-sort h2 {
  margin: 0;
  margin-right: 206px;
}

.select-control {
  width: 141px;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
}

.select-sort {
  display: flex;
  margin-left: auto;
}

.sort-button {
  display: block;
  min-width: 30px;
  min-height: 30px;
  margin: 0;
  opacity: 0.2;
}

.sort-up {
  background: url("../images/icons/sort-up-icon.svg") no-repeat center / 11px 10px;
}

.sort-down {
  background: url("../images/icons/sort-down-icon.svg") no-repeat center / 11px 10px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  row-gap: 44px;
  column-gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 70px 40px 44px 40px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

.catalog-item-desc {
  display: flex;
  justify-content: space-between;
}

.catalog-item-name {
  display: block;
  width: 226px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-item-price {
  display: block;
  line-height: 21px;
  color: #444444;
}

.catalog-image {
  margin-bottom: 32px;
}

.catalog-more {
  display: block;
  width: 760px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0;
  border: 3px solid #E5E5E5;
  background-color: #FFFFFF;

  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-paginator {
  width: 760px;
  margin: 0 auto;
  margin-bottom: 78px;
  background-color: #F0F0F0;
}

.catalog-paginator-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-paginator-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-paginator-list-item:first-child {
  margin-right: 145px;
  width: 128px;
  padding: 25px;
}

.catalog-paginator-list-item:last-child {
  margin-left: 145px;
  width: 141px;
  padding: 25px;
}

.catalog-paginator-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

/* Footer */

.main-footer {
  background-color: #444444;
  color: #FFFFFF;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-footer a {
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 61px;
}

.footer-address-wrapper {
  position: relative;
  width: 240px;
  margin-top: 62px;
}

.footer-address-wrapper::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
  width: 145px;
}

.footer-address {
  margin-bottom: 64px;
  font-style: normal;
}

.footer-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  margin-top: 137px;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}

.footer-nav-list li {
  margin-right: 35px;
}

.footer-nav-list li:last-child {
  margin-right: 0;
}

.footer-social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-item {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-link img {
  display: block;
}

.social-item:last-child {
  margin-right: 0;
}

.footer-contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  margin-top: 140px;
}

.footer-tel {
  margin-bottom: 63px;
}

.footer-developer {
  display: block;
  min-width: 115px;
  min-height: 33px;
}

.footer-developer img {
  display: block;
}

/* Состояния */

.header-logo:focus,
.footer-logo:focus {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 2px;
}

.header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}

.header-logo:hover,
.footer-logo:hover {
  opacity: 0.6;
}
